

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表
        </div>
        <div class="pannel">
            <span class="sel_label">请选择文章分类：</span>
            <form method="post" action="/article/index" id="form">
            <select name="select" id="select" class="sel_opt">
                {{range .articleTypes}}
                      <!---- 如果这个类型是我选中的类型，就设置这个类型为选中 ----->
                        <option {{if compare .TypeName $.TypeName}}selected="true"{{end}}>{{.TypeName}}</option>
                {{end}}
            </select>

            </form>
            <table class="common_table">
                <tr>
                    <th width="43%">文章标题</th>
                    <th width="10%">文章内容</th>
                    <th width="16%">添加时间</th>
                    <th width="7%">阅读量</th>
                    <th width="7%">删除</th>
                    <th width="7%">编辑</th>
                    <th width="10%">文章类型</th>
                </tr>

            {{range $key,$value := .articles}}
                <tr>
                    <td>{{$value.Title}}</td>
                    <td><a href="/article/content?id={{$value.Id}}">查看详情</a></td>
                    <td> {{$value.Time.Format "2006-01-02 15:04:05"}}</td>
                    <td>{{$value.ReadCount}}</td>
                    <td><a href="/article/delete?id={{$value.Id}}" class="dels">删除</a></td>
                    <td><a href="/article/update?id={{$value.Id}}">编辑</a></td>
                    <td>{{$value.ArticleType.TypeName}}</td>
                </tr>
            {{end}}
            </table>

            <ul class="pagenation">
                <li><a href="/article/index?pageNum=1&select={{.TypeName}}">首页</a></li>
                <li><a href="/article/index?pageNum={{.pageNum | prePage }}&select={{.TypeName}}">上一页 </a> </li>
                <li> <a href="/article/index?pageNum={{nextPage .pageNum .pageCount}}&select={{.TypeName}}">下一页</a></li>
                <li><a href="/article/index?pageNum={{.pageCount}}&select={{.TypeName}}">末页</a></li>
                <li>共{{.count}}条记录/共{{.pageCount}}页/当前{{.pageNum}}页</li>
            </ul>
        </div>
    </div>




